@import 'node_modules/@bbva-web-components/bbva-foundations-sass/main';

:host {
  display: block;
  box-sizing: border-box;

  --card-border: #e1e1e1;

  --header-bgcolor: #f4f4f4;
  --header-color: #121212;
  --header-padding: 15px;
  --header-border: #e1e1e1;
  --header-btn-action-color-hover: #999;

  --body-padding: 10px 15px;
  --body-line-height: 1.9em;
  --body-color: #121212;
  --body-text-align: left;

  --footer-bgcolor: #f4f4f4;
  --footer-color: #121212;
  --footer-padding: 15px;
  --footer-border: #e1e1e1;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--card-border);
  header {
    cursor: pointer;
    background-color: var(--header-bgcolor);
    color: var(--header-color);
    padding: var(--header-padding);
    border-bottom: 1px solid var(--header-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      max-width: calc(100% - 35px);
      overflow: hidden;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
    }
    .actions {
      min-width: 35px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: inherit;
        cells-icon {
          width: 21px;
          height: 19px;
        }
      }

      button:hover{
        color: var(--header-btn-action-color-hover);
      }
      
    }
  }

  .body-card {
    line-height: var(--body-line-height);
    color: var(--body-color);
    text-align: var(--body-text-align);
    overflow: auto;
    .body-content {
      padding: var(--body-padding);
    }
  }

  .collapsed-card {
    height: 0;
  }

  footer {
    background-color: var(--footer-bgcolor);
    color: var(--footer-color);
    padding: var(--footer-padding);
    border-top: 1px solid var(--footer-border);
  }
}
